

/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */
/*   01 - Global stlye  */
/*   02 - Theme Title  */
/*   03 - Theme Menu  */
/*   04 - SignUp Modla Box */
/*   05 - Theme Banner */
/*   06 - What we do  */
/*   07 - More About Us  */
/*   08 - Theme Counter  */
/*   09 - Our Portfolio  */
/*   10 - Home Service Section  */
/*   11 - Testimonial  */
/*   12 - Pricing Plan One  */
/*   13 - Home Blog Section  */
/*   14 - Footer   */
/*   15 - Home Version 3  */
/*
      What We Do Style Two
      Company CEO Text
      Short Banner
      Business Statics
      Theme Counter Style Two
      Home Project
      Testimonial Home Three
      */
/*   16 - Theme Inner Banner  */
/*   17 - About Text  */
/*   18 - Our Team Style One  */
/*   19 - Trusted Client   */
/*   20 - Our Service Version One */
/*   21 - Our Service Version two  */
/*   22 - Our Portfolio  */
/*   23 - Portfolio Details  */
/*   24 - Our Blog  */
/*   25 - Blog Details  */
/*   26 - Conatct US  */
/*   27 - Shop Page  */
/*   28 - Shop Details  */

/**
* Importing necessary  Styles.
**/
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,900|Poppins:300,400,500,600");
/** Mayker's font**/
@import url("../fonts/fenomen-sans/stylesheet.css");
/*----bootstrap css ----- */
@import url("../vendor/bootstrap/bootstrap.css");
/*----bootstrap Select ----- */
@import url("../vendor/bootstrap-select/dist/css/bootstrap-select.css");
/*----camera-slider---*/
@import url("../vendor/Camera-master/css/camera.css");
/*------- Mega menu ------*/
@import url("../vendor/bootstrap-mega-menu/css/menu.css");
/*----font awesome -------*/
@import url("../fonts/font-awesome/css/font-awesome.min.css");
/*----owl-carousel css----*/
@import url("../vendor/owl-carousel/owl.carousel.css");
@import url("../vendor/owl-carousel/owl.theme.css");
/*-------- animated css ------*/
@import url("../vendor/WOW-master/css/libs/animate.css");
/*-------Hover Css --------*/
@import url("../vendor/hover.css");
/*--------- flat-icon ---------*/
@import url("../fonts/icon/font/flaticon.css");
/*----------- Fancybox css -------*/
@import url("../vendor/fancybox/dist/jquery.fancybox.min.css");
/*--------- Jquery ui ---------*/
@import url("../vendor/jquery-ui/jquery-ui.min.css");

/***

====================================================================
  Loading Transition
====================================================================

 ***/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: #fff;
  overflow: hidden;
}
#loader {
  width: 90px;
  height: 65px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loader ul {
  margin: 0;
  list-style: none;
  width: 90px;
  position: relative;
  padding: 0;
  height: 10px;
}
#loader ul li {
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #00d747;
  bottom: 0;
}
@keyframes sequence1 {
  0% {
    height: 10px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes sequence2 {
  0% {
    height: 20px;
  }
  50% {
    height: 65px;
  }
  100% {
    height: 20px;
  }
}
#loader li:nth-child(1) {
  left: 0;
  animation: sequence1 1s ease infinite 0;
}
#loader li:nth-child(2) {
  left: 15px;
  animation: sequence2 1s ease infinite 0.1s;
}
#loader li:nth-child(3) {
  left: 30px;
  animation: sequence1 1s ease-in-out infinite 0.2s;
}
#loader li:nth-child(4) {
  left: 45px;
  animation: sequence2 1s ease-in infinite 0.3s;
}
#loader li:nth-child(5) {
  left: 60px;
  animation: sequence1 1s ease-in-out infinite 0.4s;
}
#loader li:nth-child(6) {
  left: 75px;
  animation: sequence2 1s ease infinite 0.5s;
}


/*______________________ Global stlye ___________________*/

@font-face {
  font-family: "font-awesome";
  src: url("../fonts/font-awesome/fonts/fontawesome-webfont.ttf");
  src: url("../fonts/font-awesome/fonts/fontawesome-webfont.eot"),
    /* IE9 Compat Modes */
      url("../fonts/font-awesome/fonts/fontawesome-webfont.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/font-awesome/fonts/fontawesome-webfont.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../fonts/font-awesome/fonts/fontawesome-webfont.svg") format("svg"); /* Legacy iOS */
}

body {
  /*  font-family: 'Lato', sans-serif;  */
  font-family: Poppins, sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.65);
  font-size: 16px;
  position: relative;
}
body .main-page-wrapper {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h6 {
  color: #000000;
}
h1 {
  font-size: 60px;
  font-weight: 600;
}
h2 {
  font-size: 40px;
  font-weight: 600;
}
h3 {
  font-size: 30px;
  font-weight: 500;
}
h4 {
  font-size: 24px;
  font-weight: 500;
}
h5 {
  font-size: 22px;
  font-weight: 500;
}
h6 {
  font-size: 20px;
  font-weight: normal;
}
p {
  line-height: 32px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
}
img {
  max-width: 100%;
  display: block;
}
button {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  padding: 0;
}
input,
textarea {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.m-top0 {
  margin-top: 0 !important;
}
.m-bottom0 {
  margin-bottom: 0 !important;
}
.p-bottm0 {
  padding-bottom: 0 !important;
}
.no-border {
  border: none !important;
}
/*--------------------- Transition --------------------*/
.tran3s,
header.theme-menu-wrapper #mega-menu-wrapper .nav > li > a:before,
#mega-menu-wrapper .nav > li.dropdown-holder .sub-menu li a:before,
.home-service-section .theme-title a:before,
.owl-theme .owl-nav [class*="owl-"],
.nav-tabs > li > a,
.banner-three .container a.button-two:after,
.about-text .about-tab-wrapper .nav-tabs > li > a,
.gullu-portfolio .single-item .opacity a.view-more:before,
.our-blog .single-blog .image img,
.bootstrap-select.btn-group .dropdown-menu li a,
.blog-sidebar .blog-categories ul li a,
.blog-sidebar .sidebar-recent-post li a,
.blog-sidebar .sidebar-keyword ul li a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tran4s,
.home-service-section ul li div i {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/*----------------------- Theme Color File -------------------*/
.p-color,
.what-we-do .single-block:hover h5 a,
.more-about-us .main-content .main-wrapper h4:before,
.home-service-section .theme-title a:hover,
.home-service-section ul li:hover div h5 a,
.testimonial-section .main-container .item .wrapper p:before,
.home-blog-section .single-blog:hover > a,
footer .footer-logo h5 a:hover,
footer .footer-list ul li a:hover,
footer .footer-subscribe ul li a:hover,
#theme-main-banner.banner-one .camera_prev:before,
#theme-main-banner.banner-one .camera_next:before,
.blog-details .tag-option ul li a:hover,
.our-blog .single-blog:hover .text > a,
.our-team-styleOne .single-team-member .image .opacity ul li a,
.service-version-one .single-service:hover a,
.service-version-two .single-service:hover .text a,
.gullu-portfolio .single-item:hover .opacity a.view-more,
.portfolio-details .page-changer li a:hover,
.our-blog .single-blog.solid-color:hover .text > a,
.our-blog.blog-v3 .single-blog:hover .text h5 a,
.our-blog.blog-v2 .single-blog:hover .text h5 a,
.shop-page .shop-sidebar .popular-product li:hover .text a,
.blog-details .comment-area .comment-section .comment button:hover,
.contact-us .contact-address > a:hover,
.contact-us .contact-address ul li a:hover,
.shop-page .shop-sidebar .sidebar-categories li a:hover,
.shop-page .shop-product-wrapper .single-product:hover h6 a,
.shop-page .shop-product-wrapper .single-product > a:hover,
header.theme-menu-wrapper.menu-style-two
  #mega-menu-wrapper
  .nav
  .login-button
  a:hover,
.blog-sidebar .sidebar-recent-post li a:hover,
.blog-sidebar .blog-categories ul li a:hover,
.theme-modal-box .modal-content .modal-body form ul li label:before,
.service-details .box-wrapper .middle-text ul li:before {
  color: #1d8cef;
}
.p-bg-color,
header.theme-menu-wrapper #mega-menu-wrapper .nav .login-button a:hover,
.our-portfolio .theme-title a:hover,
.home-service-section .theme-title a:hover:before,
.pricing-plan-one .nav-tabs > li.active > a,
.pricing-plan-one .nav-tabs > li.active > a:hover,
.pricing-plan-one .nav-tabs > li.active > a:focus,
.banner-two .watch-video a:hover,
.our-team-styleOne .title a:hover,
.our-blog.blog-v2 .load-more:hover,
.bootstrap-select.btn-group .dropdown-menu li.selected a,
.bootstrap-select.btn-group .dropdown-menu li:hover a,
.shop-details .procuct-details .product-info > div > a.cart-button,
.shop-details .procuct-details .product-info > div > a.wishlist-button:hover,
#mega-menu-wrapper .navbar-toggle .icon-bar,
.blog-sidebar .sidebar-keyword ul li a:hover,
.service-details .box-wrapper .title .loan {
  background: #1d8cef;
}
header.theme-menu-wrapper #mega-menu-wrapper .nav .login-button a:hover,
.our-portfolio .theme-title a:hover,
.banner-two .watch-video a:hover,
.our-team-styleOne .title a:hover,
header.theme-menu-wrapper.menu-style-two
  #mega-menu-wrapper
  .nav
  .login-button
  a:hover,
.gullu-portfolio .single-item .opacity a.view-more:hover:before,
.our-blog.blog-v2 .load-more:hover,
.contact-us .contact-address ul li a:hover,
.shop-page .shop-sidebar .sidebar-search input:focus,
.shop-details .procuct-details .product-info > div > a.cart-button,
.shop-details .procuct-details .product-info > div > a.wishlist-button:hover,
.blog-sidebar .sidebar-keyword ul li a:hover {
  border-style: solid;
  border-color: #1d8cef;
}
/*------------------- Theme Title ------------------*/
.theme-title {
  position: relative;
}
.theme-title h6 {
  font-weight: 600;
  font-size: 16px;
  color: #1D8CEF;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.theme-title h2 {
  line-height: 55px;
  margin-top: 20px;
  margin-bottom: 50px;
}
/*------------------------------ Theme menu ----------------------*/
header.theme-menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding-top: 62px;
}
header.theme-menu-wrapper.full-width-menu {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 10px;
}
header.theme-menu-wrapper #mega-menu-wrapper .nav > li > a {
  padding: 0 0 20px 0;
  margin: 0 22px;
  position: relative;
  z-index: 9;
}
header .header-image {
  width: 60%;
}
header.theme-menu-wrapper #mega-menu-wrapper .nav > li > a:before,
#mega-menu-wrapper .nav > li.dropdown-holder .sub-menu li a:before {
  content: "";
  width: 0;
  height: 3px;
  opacity: 0;
  margin-top: 8px;
  position: absolute;
  background: #1d8cef;
  left: 0;
  z-index: -1;
}
header.theme-menu-wrapper #mega-menu-wrapper .nav > li > a:before {
  top: 17px;
}
#mega-menu-wrapper .nav > li.dropdown-holder .sub-menu li a:before {
  bottom: 14px;
}
header.theme-menu-wrapper #mega-menu-wrapper .nav > li.active > a:before,
header.theme-menu-wrapper #mega-menu-wrapper .nav > li:hover > a:before,
#mega-menu-wrapper .nav > li.dropdown-holder .sub-menu li:hover > a:before,
#mega-menu-wrapper
  .nav
  > li.dropdown-holder
  .sub-menu
  .second-sub-menu
  > li
  > a:hover:before {
  opacity: 1;
  width: 100%;
}
header.theme-menu-wrapper #mega-menu-wrapper .nav .login-button a {
  line-height: 36px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.3px;
  padding: 0px 16px;
  text-align: center;
  color: #00000a;
  border: 2px solid rgba(0, 0, 10, 0.08);
  border-radius: 20px;
  margin: -7px 0 0 30px;
}
header.theme-menu-wrapper #mega-menu-wrapper .nav .login-button a:before {
  display: none;
}
header.theme-menu-wrapper #mega-menu-wrapper .nav .login-button a:hover {
  color: #fff;
}

/*================= Sticky Menu ===============*/
@-webkit-keyframes menu_sticky {
  0% {
    margin-top: -120px;
    opacity: 0;
  }
  50% {
    margin-top: -64px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes menu_sticky {
  0% {
    margin-top: -120px;
    opacity: 0;
  }
  50% {
    margin-top: -64px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
.theme-menu-wrapper.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff;
  padding-top: 35px;
  -webkit-box-shadow: 0px 13px 35px -12px rgba(35, 35, 35, 0.15);
  box-shadow: 0px 13px 35px -12px rgba(35, 35, 35, 0.15);
  -webkit-animation: menu_sticky 0.7s ease-in-out;
  animation: menu_sticky 0.7s ease-in-out;
}
.theme-menu-wrapper.fixed.menu-style-two {
  background: #232323;
}
.theme-menu-wrapper.fixed.menu-style-two.inner-menu {
  background: rgba(21, 21, 21, 0.9);
}

.menu-style-two #mega-menu-wrapper .navbar-toggle .icon-bar {
  background: #fff !important;
}
header.theme-menu-wrapper.fixed #mega-menu-wrapper .nav > li.menu-list > a {
  padding-bottom: 38px;
}
.theme-menu-wrapper.fixed .logo {
  /* -webkit-transform:rotate(90deg);
          transform:rotate(90deg); */
  width: 40%;
}
header.theme-menu-wrapper.menu-style-three.fixed {
  padding-top: 35px;
}
.theme-menu-wrapper.menu-style-three.fixed .top-header {
  display: none;
}
header.theme-menu-wrapper.menu-style-three.fixed #mega-menu-wrapper {
  margin-top: 0;
}
header.theme-menu-wrapper.menu-style-three.fixed
  #mega-menu-wrapper
  .nav
  > li
  > a {
  padding-top: 15px;
  padding-bottom: 25px;
}
/*---------------------------------- Theme Banner --------------------------*/
.banner-img-one {
  -webkit-clip-path: url(#shape-one);
  clip-path: url(#shape-one);
}
.theme-shape-two {
  background: url(../svg/1.svg);
  height: 100%;
}
#theme-main-banner {
  margin-bottom: 90px;
  padding-top: 300px;
  height: 900px;
  background-image: url("../images/home/background_8@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.camera_wrap {
  float: none;
}
#theme-main-banner .camera_prev,
#theme-main-banner .camera_next {
  height: 70px;
  margin-top: -35px;
  width: 30px;
  background: transparent;
  border-radius: 5px;
}
#theme-main-banner .camera_prev:before,
#theme-main-banner .camera_next:before {
  font-family: "font-awesome";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 70px;
  color: #fff;
  font-size: 50px;
  z-index: 9;
}
#theme-main-banner .camera_prev:before {
  content: "";
}
#theme-main-banner .camera_next:before {
  content: "";
}

#theme-main-banner .camera_prev > span,
#theme-main-banner .camera_next > span {
  display: none;
}
#theme-main-banner .camera_overlayer {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#theme-main-banner.banner-one .camera_overlayer {
  background: url(../images/home/shape-1.png) no-repeat center center;
}
#theme-main-banner.camera_wrap .camera_pag .camera_pag_ul {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 38px;
  z-index: 99;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#theme-main-banner .camera_caption {
  height: 100%;
}
#theme-main-banner .container {
  position: relative;
}
#theme-main-banner .camera_caption > div {
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-shadow: none;
  left: 0;
  padding: 0;
}
.banner-one h5 {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4);
}
.banner-one h1 {
  text-transform: capitalize;
  line-height: 50px;
  margin: 25px 0 75px 0;
}
.first-text-part {
  font-weight: 100;
  font-size: 44px;
}
.second-text-part {
  font-size: 90px;
}
.banner-one h1 span {
  position: relative;
  z-index: 9;
}
.banner-one h1 span:before {
  content: "";
  width: 97%;
  height: 7px;
  position: absolute;
  /* background: rgba(29, 140, 239, 0.5); */
  border-radius: 2.5px;
  left: 3px;
  bottom: 17px;
  z-index: -1;
}
.container a.button-one {
  width: 200px;
  line-height: 55px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  border-radius: 28px;
  letter-spacing: 0.3px;
}
.container a.button-one:hover {
  background-color: #1A7ED7;
}
.banner-one .image-shape-one {
  display: inline-block;
  position: absolute;
  right: -96px;
  top: -15%;
  z-index: 1;
}
.banner-one .image-shape-two {
  display: inline-block;
  position: absolute;
  width: 850px;
  height: 569px;
  right: -119px;
  top: -20%;
  z-index: -1;
}
.banner-one #theme-shape-two {
  width: 100%;
  height: 100%;
}
/*-------------------------- What we do -------------------*/
.what-we-do {
  text-align: center;
  padding-bottom: 125px;
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 100px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.what-we-do h3 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 54px;
  margin: 0 auto;
  width: 75%;
}
.what-we-do .container > h6 {
  color: rgba(37, 47, 62, 0.8);
  margin: 50px 0 130px 0;
}
.what-we-do .single-block .icon {
  width: 121px;
  height: 121px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.08);
  line-height: 119px;
  font-size: 45px;
  margin: 0 auto;
  position: relative;
}
.what-we-do .single-block .icon.color-one {
  /* color: #00d747; */
  background-image: url("../images/icons/Fast-Delivery.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
}
.what-we-do .single-block .icon.color-two {
  background-image: url("../images/icons/Goat.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
}
.what-we-do .single-block .icon.color-three {
  background-image: url("../images/icons/Sunrise.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
}
.what-we-do .single-block .icon.color-four {
  background-image: url("../images/icons/Hands.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
}
.what-we-do .single-block h6 {
  color: rgba(37, 47, 62, 0.5);
  font-size: 18px;
  margin: 30px 0 20px 0;
}
.what-we-do .single-block h5 a {
  color: #000000;
  font-size: 20px;
  line-height: 30px;
}
.what-we-do .single-block:hover h5 a {
  text-shadow: 1px 1px 5px rgba(37, 47, 62, 0.1);
}
.what-we-do .single-block {
  padding: 0 25px;
  margin-bottom: 50px;
}
.what-we-do .single-block .icon.middle-block:before {
  left: -240px;
}
.what-we-do .single-block .icon.middle-block:after {
  right: -240px;
}
/*---------------------- More About Us ---------------------*/
.more-about-us.bg-color {
  background: #f6fbfe;
  padding: 115px 0 110px 0;
  margin-bottom: 0;
}
.more-about-us.bg-color:before {
  content: "";
  width: 42%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/home/10.jpg) no-repeat center;
}
.more-about-us {
  padding: 0 0 30px 0;
  margin-bottom: 90px;
  position: relative;
  z-index: 9;
}
.more-about-us .main-content {
  padding-left: 45px;
}
.more-about-us .main-content h2 {
  line-height: 60px;
}
.more-about-us .main-content .main-wrapper {
  padding: 52px 0 0 65px;
}
.more-about-us .main-content .main-wrapper h4 {
  position: relative;
}
.more-about-us .main-content .main-wrapper h4:before {
  content: "\f113";
  font-family: Flaticon;
  font-size: 40px;
  position: absolute;
  top: -8px;
  left: -65px;
  font-weight: bold;
}
.more-about-us .main-content .main-wrapper p {
  line-height: 35px;
  margin: 32px 0 100px 0;
}
.more-about-us [class*="col-"] {
  position: static;
}
.more-about-us .main-content .main-wrapper .button-wrapper {
  width: 348px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 35px 0 40px 65px;
}
.more-about-us.bg-color .main-content .main-wrapper .button-wrapper {
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
.more-about-us .main-content .main-wrapper .button-wrapper span {
  font-weight: 500;
  font-size: 18px;
  color: white;
  font-family: "Poppins", sans-serif;
}
.more-about-us .main-content .main-wrapper .button-wrapper a {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  display: block;
  margin-top: 2px;
}
.more-about-us .main-content .main-wrapper .button-wrapper a i {
  font-size: 25px;
  font-weight: normal;
  margin-left: 12px;
  vertical-align: middle;
}
.more-about-us .image-box {
  position: absolute;
  top: 90px;
  left: 6%;
  z-index: 1;
}
.more-about-us .image-box .image-shape {
  -webkit-clip-path: url(#shape-one);
  clip-path: url(#shape-one);
}
.more-about-us .theme-shape-three {
  background: url(../svg/2.svg);
  width: 865px;
  height: 525px;
  position: absolute;
  top: 85px;
  left: -135px;
  z-index: -1;
}
/*------------------------ Theme Counter --------------------*/
.theme-counter {
  text-align: center;
  padding: 130px 0 50px 0;
}
.theme-counter.fix {
  padding-bottom: 120px;
}
.theme-counter h2 {
  font-size: 50px;
}
.theme-counter p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #aeaeae;
  margin: 5px 0 40px 0;
}
/*--------------------- Testimonial ---------------------*/
.testimonial-section {
  padding: 130px 0 150px 0;
  position: relative;
  z-index: 9;
  margin-bottom: 140px;
}
.testimonial-section.bg-image {
  background: url(../images/home/background_maykers_love.png) no-repeat center;
  background-size: cover;
  padding: 130px 0 150px 0;
}
.testimonial-section.bg-image .theme-title h6:before {
  display: none;
}
.testimonial-section.bg-image .theme-title h6 {
  letter-spacing: 1.2px;
}
.testimonial-section .main-container .theme-title {
  margin-bottom: 60px;
}
.testimonial-section .main-container .item .wrapper {
  padding-left: 80px;
}
.testimonial-section .main-container .item .wrapper p {
  font-size: 18px;
  line-height: 42px;
  position: relative;
  margin-bottom: 55px;
}
.testimonial-section .main-container .item .wrapper p:before {
  content: "\f109";
  font-family: Flaticon;
  font-size: 38px;
  position: absolute;
  top: 9px;
  left: -78px;
}
.testimonial-section .main-container .item .wrapper .name {
  padding-left: 70px;
  position: relative;
  margin-bottom: 3px;
}
.testimonial-section .main-container .item .wrapper .name img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.testimonial-section .main-container .item .wrapper .name h5 {
  font-size: 18px;
  color: #00000a;
  margin: 5px 0 3px 0;
}
.testimonial-section .owl-theme .owl-nav [class*="owl-"] {
  font-family: "font-awesome";
  background: transparent;
  border-radius: 0;
  margin: 0 5px;
  color: #d2d5d8;
  font-size: 28px;
}
.testimonial-section .owl-theme .owl-nav [class*="owl-"]:hover {
  color: #393a3b;
}
.testimonial-section .owl-theme .owl-nav {
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 5px;
}
.testimonial-section .image-box {
  position: absolute;
  top: 130px;
  left: 6%;
  z-index: 1;
}
.testimonial-section .image-box .image-shape {
  -webkit-clip-path: url(#shape-one);
  clip-path: url(#shape-one);
}
.testimonial-section .theme-shape-four {
  background: url(../svg/2.svg);
  width: 865px;
  height: 525px;
  position: absolute;
  top: 110px;
  left: -135px;
  z-index: -1;
}
/*----------------------- Footer ---------------------*/

footer {
  padding-top: 180px;
}
footer .footer-logo h5 a {
  font-weight: 600;
  font-size: 16px;
  color: #222222;
  margin: 30px 0 15px 0;
}
.footer-logo a img{
  width: 80%;
}
footer h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}
footer .footer-list ul li {
  line-height: 40px;
}
footer .footer-list ul li a {
  color: rgba(0, 0, 0, 0.65);
  font-weight: 500;
}
footer .footer-subscribe form {
  padding: 15px 0 35px 0;
}
footer .footer-subscribe ul li {
  display: inline-block;
}
footer .footer-subscribe ul li a {
  color: #b4b5b6;
  font-size: 18px;
  margin-right: 15px;
}
footer .bottom-footer p,
footer .bottom-footer ul li {
  line-height: 40px;
}
footer .bottom-footer p a {
  font-weight: 500;
}
footer .bottom-footer ul li {
  float: left;
  padding-left: 50px;
}
footer .bottom-footer ul li h3 {
  font-size: 24px;
  font-weight: 600;
}
footer .row [class*="col-"] {
  margin-bottom: 60px;
}
footer .bottom-footer {
  padding: 25px 0 70px 0;
}
#svag-shape {
  position: absolute;
  z-index: -999;
}

/*------------------ Theme Inner Banner -----------------*/
.inner-page-banner {
  background: url(../images/team/fields-barley.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 190px;
  background-color: #1D8CEF;
}
.inner-page-banner .opacity {
  text-align: center;
  padding: 220px 0 175px 0;
}
.inner-page-banner .opacity h1 {
  color: #fff;
  text-transform: capitalize;
}
.inner-page-banner .opacity ul li {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  margin: 40px 2px 0 2px;
  text-transform: uppercase;
;
  letter-spacing: 1.1px;
}
.inner-page-banner .opacity ul li a {
  color: #fff;
}
/*-------------------- Our Team ----------------------*/
.team-photo{
  height: 450px;
  width: 350px !important;
}
@media(max-width:580px){
  .team-photo {
    width: 100% !important
  }
}
.our-team-styleOne.inner-page {
  padding-bottom: 80px;
}
.our-team-styleOne .title {
  position: relative;
  margin: 0 0 115px 0;
}
.our-team-styleOne .title h2 {
  line-height: 55px;
}
.our-team-styleOne .title a {
  width: 145px;
  line-height: 46px;
  border: 2px solid rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  text-align: center;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  position: absolute;
  right: 0;
  bottom: 10px;
}
.our-team-styleOne .title a:hover {
  color: #fff;
}
.our-team-styleOne .single-team-member {
  padding-bottom: 25px;
  margin-bottom: 90px;
  text-align: center;
}
.our-team-styleOne .single-team-member .image {
  position: relative;
  overflow: hidden;
}
.our-team-styleOne .single-team-member .image img {
  width: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.our-team-styleOne .single-team-member .image .opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8 );
}
.our-team-styleOne .single-team-member .image .opacity ul li {
  display: inline-block;
}
.our-team-styleOne .single-team-member .image .opacity ul li a {
  font-size: 20px;
  margin: 0 10px;
}
.our-team-styleOne .single-team-member .image .opacity ul {
  opacity: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.our-team-styleOne .single-team-member:hover .image .opacity ul {
  opacity: 1;
}
.our-team-styleOne .single-team-member:hover .image .opacity {
  opacity: 1;
}
.our-team-styleOne .single-team-member:hover .image img {
  -webkit-transform: scale3D(1.1, 1.1, 1);
  transform: scale3D(1.1, 1.1, 1);
}
.our-team-styleOne .single-team-member h6 {
  font-weight: 500;
  margin: 38px 0 3px 0;
}
.our-team-styleOne.style-two .single-team-member .image {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  margin: 0 auto;
}
.our-team-styleOne.style-two .single-team-member .image .opacity {
  border-radius: 50%;
}
.our-team-styleOne.style-two .single-team-member {
  border: none;
  padding-bottom: 0;
}

/*----------------------- Vacancies Page  ----------------------*/
.inner-vacancies-page-banner {
  background: url(../images/vacancies/field-image.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 190px;
  background-color: #1D8CEF;
}
.inner-vacancies-page-banner .opacity {
  text-align: center;
  padding: 220px 0 175px 0;
}
.inner-vacancies-page-banner .opacity h1 {
  color: #fff;
  text-transform: capitalize;
}
.inner-vacancies-page-banner .opacity ul li {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  margin: 40px 2px 0 2px;
  text-transform: uppercase;
;
  letter-spacing: 1.1px;
}
.inner-vacancies-page-banner .opacity ul li a {
  color: #fff;
}

